@page "/GeneratePokemon"
@attribute [Authorize]
@inject SheetsService sheetApi

<h1>Hello, world!</h1>

Welcome to your new app.

@if (Ready)
{
    <p>@Result</p>
}
else
{
    <Radzen.Blazor.RadzenProgressBar Mode="ProgressBarMode.Indeterminate" Value="0" ShowValue="false" Style="width: 100%;"/>
}

@code {
    public string Result { get; set; }
    public SpreadsheetTools Spreadsheet { get; set; }
    private bool Ready { get; set; } = false;
    private bool Processing { get; set; } = false;

    protected async override Task OnInitializedAsync()
    {
        if (!Ready && !Processing)
        {
            Processing = true;
            try
            {
                string spreadsheetId = "159uvxjmT2NAEakq0GyIIe2X38fKAgdazXIVJQgpCU4E";
                Spreadsheet = await sheetApi.GetSpreadsheetTools(spreadsheetId);

                var sheet = Spreadsheet.Sheets.WithTitle("Pokemon Template");
                retry:
                try
                {
                    await Spreadsheet.DuplicateSheet(sheet, "Bulbasaur Test");
                }
                catch
                {
                    await Spreadsheet.DeleteSheet(Spreadsheet.Sheets.WithTitle("Bulbasaur Test"));
                    goto retry;
                }

                await Spreadsheet.EditCell("Bulbasaur Test!J1:J1", "Bulbasaur");

                Result = await Spreadsheet.ReadCell("Bulbasaur Test!J1:J1");
            }
            catch (Exception e)
            {
                Result = e.ToString();
            }
            Ready = true;
            Processing = false;
        }
    }
}